<div>
    <h1>Lista de Productos en tiempo real</h1>
        <div id="products">

        </div>
</div>
<div>
    <h3>Agregar producto</h3>
    <form >
            <div class="form-group">
                <label for="title"><b>Nombre</b></label>
                <input id="title" class="form-control" type="text" name="title" required>
            </div>
                
                <button class="btn btn-success mt-3 mb-5" onclick="addProduct()">Enviar</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>